@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #eeeeee;
  --secondary: #227c70;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: #393e46;

  --shadow: 0px 2px 8px 0px var(--secondary-light);
}
body{
        background: rgba(0,0,0,0.3)url(https://img.freepik.com/free-photo/beautiful-shot-snowy-mountain-sunset_181624-37878.jpg?w=1800&t=st=1682646507~exp=1682647107~hmac=efd0d447274a4c931adde20e7471323de08fd0d06c79e8d7ce27be1a9db84496);
        background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
}
.container
{
        width: 80%;
        display: block;
        margin: 15px auto;
        height: 100%;
}
.buttons button
{
        border: none;
        background-color: rgba(0, 255, 255, 0.5);
        width: 200px;
        font-size: 28px;
        height: 50px;
        border-radius: 10px 10px 0px 0;
}
.buttons button:hover
{
        border: none;
        background-color: black;
}
.buttons
{
        display: flex;
        gap: 15px;
}
.diva
{
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(5, 5, 77, 0.507);
        border-radius: 0 10px 10px 10px;
}
.divb
{

        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 84, 87, 0.445);
        border-radius: 0 10px 10px 10px;
}
.divc
{

        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 11, 87, 0.432);
        border-radius: 0 10px 10px 10px;
}
.divd
{

        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(7, 146, 77, 0.329);
        border-radius: 0 10px 10px 10px;
}
.blocks
{
        display: flex;
        width: 100%;
        height: 100%;
}


.pro .img img
{
        margin: 10px;
}
.pro .img .text
{
        margin-top: 50px;
        margin-left: 20px;
        color: rgb(255, 255, 255);
}

.pro .img .text h1
{
        font-size: 50px;
        color: #0c9683;
}
.pro .img .text h1:hover {
        color: rgb(11, 161, 68);
}
.pro .img
{
        width: 1300px;
        display: flex;
        color: white;
}

.diva .img .rs
{
        margin: 50px;
        color: rgb(255, 255, 255);
        font-size: 20px;
}



.wrapper{
        background: #171c24;
        position: fixed;
        width: 100%;
      }
      .wrapper nav{
        position: relative;
        display: flex;
        max-width: calc(100% - 200px);
        margin: 0 auto;
        height: 70px;
        align-items: center;
        justify-content: space-between;
      }
      nav .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      nav .content .links{
        margin-left: 80px;
        display: flex;
      }
      .logo
      {
              display: flex;
              justify-content: center;
      
      }
      .logo img
      {
              width: 50px;
      }
      .logo a{
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: center;
      }
      .content .links li{
        list-style: none;
        line-height: 70px;
      }
      .content .links li a,
      .content .links li label{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        padding: 9px 17px;
        border-radius: 5px;
        transition: all 0.3s ease;
      }
      .content .links li label{
        display: none;
      }
      .content .links li a:hover,
      .content .links li label:hover{
        background: #323c4e;
      }
      .wrapper .search-icon,
      .wrapper .menu-icon{
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        line-height: 70px;
        width: 70px;
        text-align: center;
      }
      .wrapper .menu-icon{
        display: none;
      }
      .wrapper #show-search:checked ~ .search-icon i::before{
        content: "\f00d";
      }
      
      .wrapper .search-box{
        position: absolute;
        height: 100%;
        max-width: calc(100% - 50px);
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
      }
      .wrapper #show-search:checked ~ .search-box{
        opacity: 1;
        pointer-events: auto;
      }
      .search-box input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 17px;
        color: #fff;
        background: #171c24;
        padding: 0 100px 0 15px;
      }
      .search-box input::placeholder{
        color: #f2f2f2;
      }
      .search-box .go-icon{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 60px;
        width: 70px;
        background: #171c24;
        border: none;
        outline: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }
      .wrapper input[type="checkbox"]{
        display: none;
      }
      
      /* Dropdown Menu code start */
      .content .links ul{
        position: absolute;
        background: #171c24;
        top: 80px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
      }
      .content .links li:hover > ul{
        top: 70px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
      }
      .content .links ul li a{
        display: block;
        width: 100%;
        line-height: 30px;
        border-radius: 0px!important;
      }
      .content .links ul ul{
        position: absolute;
        top: 0;
        right: calc(-100% + 8px);
      }
      .content .links ul li{
        position: relative;
      }
      .content .links ul li:hover ul{
        top: 0;
      }
      
      /* Responsive code start */
      @media screen and (max-width: 1250px){
        .wrapper nav{
          max-width: 100%;
          padding: 0 20px;
        }
        nav .content .links{
          margin-left: 30px;
        }
        .content .links li a{
          padding: 8px 13px;
        }
        .wrapper .search-box{
          max-width: calc(100% - 100px);
        }
        .wrapper .search-box input{
          padding: 0 100px 0 15px;
        }
      }
      
      @media screen and (max-width: 900px){
        .wrapper .menu-icon{
          display: block;
        }
        .wrapper #show-menu:checked ~ .menu-icon i::before{
          content: "\f00d";
        }
        nav .content .links{
          display: block;
          position: fixed;
          background: #14181f;
          height: 100%;
          width: 100%;
          top: 70px;
          left: -100%;
          margin-left: 0;
          max-width: 350px;
          overflow-y: auto;
          padding-bottom: 100px;
          transition: all 0.3s ease;
        }
        nav #show-menu:checked ~ .content .links{
          left: 0%;
        }
        .content .links li{
          margin: 15px 20px;
        }
        .content .links li a,
        .content .links li label{
          line-height: 40px;
          font-size: 20px;
          display: block;
          padding: 8px 18px;
          cursor: pointer;
        }
        .content .links li a.desktop-link{
          display: none;
        }
      
        /* dropdown responsive code start */
        .content .links ul,
        .content .links ul ul{
          position: static;
          opacity: 1;
          visibility: visible;
          background: none;
          max-height: 0px;
          overflow: hidden;
        }
        .content .links #show-features:checked ~ ul,
        .content .links #show-services:checked ~ ul,
        .content .links #show-items:checked ~ ul{
          max-height: 100vh;
        }
        .content .links ul li{
          margin: 7px 20px;
        }
        .content .links ul li a{
          font-size: 18px;
          line-height: 30px;
          border-radius: 5px!important;
        }
      }
      
      @media screen and (max-width: 400px){
        .wrapper nav{
          padding: 0 10px;
        }
        .content .logo a{
          font-size: 27px;
        }
        .wrapper .search-box{
          max-width: calc(100% - 70px);
        }
        .wrapper .search-box .go-icon{
          width: 30px;
          right: 0;
        }
        .wrapper .search-box input{
          padding-right: 30px;
        }
      }



      .profile-dropdown {
        position: relative;
        width: fit-content;
      }
      
      .profile-dropdown-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
        font-size: 0.9rem;
        font-weight: 500;
        width: 150px;
        border-radius: 50px;
        color: var(--white);
        /* background-color: white;
        box-shadow: var(--shadow); */
      
        cursor: pointer;
        border: 1px solid var(--secondary);
        transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
          border 0.3s;
      }
      
      .profile-dropdown-btn:hover {
        background-color: var(--secondary-light-2);
        box-shadow: var(--shadow);
      }
      
      .profile-img {
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: url(./assets/profile-pic.jpg);
        background-size: cover;
      }
      
      .profile-img i {
        position: absolute;
        right: 0;
        bottom: 0.3rem;
        font-size: 0.5rem;
        color: var(--green);
      }
      
      .profile-dropdown-btn span {
        margin: 0 0.5rem;
        margin-right: 0;
      }
      
      .profile-dropdown-list {
        position: absolute;
        top: 68px;
        width: 220px;
        right: 0;
        background-color: var(--white);
        border-radius: 10px;
        max-height: 0;
        overflow: hidden;
        box-shadow: var(--shadow);
        transition: max-height 0.5s;
      }
      
      .profile-dropdown-list hr {
        border: 0.5px solid var(--green);
      }
      
      .profile-dropdown-list.active {
        max-height: 500px;
      }
      
      .profile-dropdown-list-item {
        padding: 0.5rem 0rem 0.5rem 1rem;
        transition: background-color 0.2s ease-in, padding-left 0.2s;
      }
      
      .profile-dropdown-list-item a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--black);
      }
      
      .profile-dropdown-list-item a i {
        margin-right: 0.8rem;
        font-size: 1.1rem;
        width: 2.3rem;
        height: 2.3rem;
        background-color: var(--secondary);
        color: var(--white);
        line-height: 2.3rem;
        text-align: center;
        margin-right: 1rem;
        border-radius: 50%;
        transition: margin-right 0.3s;
      }
      
      .profile-dropdown-list-item:hover {
        padding-left: 1.5rem;
        background-color: var(--secondary-light);
      }
      

.divb .tran
{
        margin: 10px;
        display: flex;
}

.divb .tran i
{
        font-size: 50px;
        justify-content: center;
        display: flex;
        color: white;
}
.divb .tran h3
{
        margin: 30px;
        color: white;
}

.divb .bal
{
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: whitesmoke;
}
.qr
{
        float: right;
        margin: 20px;
        color: #227c70;
}
.qr i
{

        font-size: 60px;
}
.qr h1
{
        color: #00ff04;
        font-size: 50px;
}
.qr h1:hover
{
        color: aqua;
}



*, *::after, *::before {
        box-sizing: border-box;
      }
      
      .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        background-color: white;
        width: 500px;
        max-width: 80%;
      }
      
      .modal.active {
        transform: translate(-50%, -50%) scale(1);
      }
      
      .modal-header {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        border-bottom: 1px solid black;
      }
      
      .modal-header .title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      
      .modal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
      }
      
      .modal-body {
        padding: 10px 15px;
      }
      
      #overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        pointer-events: none;
      }
      
      #overlay.active {
        opacity: 1;
        pointer-events: all;
      }


      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        font-size: 16px;
        font-family: Arial, sans-serif;
}

label {
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
}

input[type="number"] {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
        margin-bottom: 20px;
}

input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

}

input[type="submit"]:hover {
        background-color: #3e8e41;
}
h1
{
        font-family: 'Kaushan Script', cursive;
}

.divc .his h1
{
        font-size: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        text-align: center;
}
.divc .his1
{
        width: 400px;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 10px;
        background-color:#3e8e41;
        border-radius: 5px;
}
.divc .his1 h2
{
        margin: 10px;
}
.row1
{
        display: flex;
        overflow: auto;
}
.row2
{
        display: flex;
        overflow: auto;
}







.divd .rew h1
{
        font-size: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        text-align: center;
}
.divd .rew h4
{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        text-align: center;
}
.divd .rew1
{
        width: 400px;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 10px;
        background-color:#3e8e41;
        border-radius: 5px;
}
.divd .rew1 h2
{
        margin: 10px;
        color: white;
}
.divd .rew1 h4
{
        margin: 10px;
        color: rgb(19, 240, 248);
}
.row1
{
        display: flex;
        overflow: auto;
}
.row2
{
        display: flex;
        overflow: auto;
}
.divd button
{
        float: right;
        margin-right: 30px;
        width: 80px;
        text-align: center;
        color: black;
        outline: none;
        border: none;
        border-radius: 5px;
        background: aqua;
        font-weight: 800;
        margin-bottom: 10px;
}